// Fonts
// --------------------------------

$ysw-font-size-root: stencilNumber("fontSize-root");
$ysw-font-body: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
$ysw-font-headings: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
